.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .formu {
  justify-content: left!important;


  margin-left: 15rem;


}
.upload {
  float: right!important;
  justify-content: right!important;
  margin-right: 20rem;

} */

.dataform {
  width: 18rem;
  margin: 2rem;
}



/* input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(244, 244, 244)!important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
} */
/* input[type=text]:focus,input[type=email]:focus ,input[type=password]:focus  {
  border: 2px solid rgb(151, 67, 255)!important;
} */
@media only screen and (max-width: 500px) {
  .flex {
    display: flex;
    flex-direction: column!important;
  }
}


