.remember{
  margin-top: -8px!important;
}
/* .container {
  width: 35%;
  height: 20rem!important;
  background-color: rgb(251, 251, 251);
  box-shadow: 0 0 10px 10px rgb(252, 252, 252);
}
*/
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(244, 244, 244)!important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=text]:focus,input[type=email]:focus ,input[type=password]:focus  {
  border: 2px solid rgb(151, 67, 255)!important;
}

/* button {
  margin-top: -24px!important;
} */

.text-sm{
  text-align: center!important;
  justify-content: center;
  margin-bottom: 0.2rem!important;
}

a {
  text-decoration: none;
}

/* .min-h-full {
  margin-top: -25px!important;
} */

.required-valid {
  color: red;
  margin-top: -10px;
  margin-left: 10px;
  opacity: 1;
  font-size: 14px;
}
