<h1> User Login Page </h1>

    <form action="action_page.php" method="post">

      <div class="container">

      <label for="uname"><b>Email</b></label>

      <input type="text" placeholder="Enter Email" name="uname" required>

 

      <label for="psw"><b>Password</b></label>

      <input type="password" placeholder="Enter Password" name="psw" required>

 

      <button class = "button" >Login</button>



      <button class = "button">Sign up as admin</button>

     

      <span class="psw"><a href="#">Not Registered?</a> Register</span>

    </div>

  </form>