
input[type=text], input[type=password] {
    width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   border: 1px solid #ccc;
   box-sizing: border-box;
   }

.button {
   border: none;
   color: blue;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
}
button:hover {
   opacity: 0.8;
   }

.container {
   padding: 16px;
   }

span.psw {
   float: right;
   padding-top: 20px;
}