
<div class="flex justify-center">
  <div class="min-h-full flex items-center justify-center  py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-full w-full space-y-8">
      <div>
        <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
        <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Login Here!</h1>

      </div>
      <div>
    </div>
      <form [formGroup]="loginForm" (ngSubmit) = "onSubmitLoginForm()" class="mt-8 space-y-2"  method="POST">
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md  -space-y-px">
          <br>
          <div>
            <label for="email-address" class="sr-only">Email address</label>

            <input id="email-address" size="50" formControlName = "email"  name="email" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email">
            <div *ngIf="f['email'].touched && f['email'].invalid">
              <div *ngIf="f['email'].errors && f['email'].errors['required']&& (f['email'].errors['touched']||f['email'].errors['dirty'])"><span class="required-valid">Email is required !</span></div>

            </div>
          </div>
          <br>

          <div>
            <label for="password" class="sr-only">Password</label>
            <input id="password" size="50" name="password" formControlName = "password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
            <div *ngIf="f['password'].touched && f['password'].invalid">
              <div><span class="required-valid" class="required-valid">Enter Valid Input</span></div>

            </div>
          </div>
          <br>
        </div>


        <div>
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: solid/lock-closed -->
              <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
              </svg>
            </span>
            Login
          </button>
<br>
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" routerLink="/LogIn-Admin">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: solid/lock-closed -->
              <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
              </svg>
            </span>
            Log-In as Admin
          </button>

          <div class="text-sm mt-3 flex flex-row">
            <p style="font-weight: 500;">Not Registered? </p>&nbsp;<a style="margin-top: -1px;font-size:15px;" routerLink="/Register"  class="font-medium text-indigo-600 hover:text-indigo-500"> Register </a>
          </div>

        </div>
      </form>
    </div>
  </div>

</div>
